<!DOCTYPE html>

<html>
	<head>
		<!-- Page Config !-->
		<title>Lindsey's Link Shortener</title>

		<!-- External Style Sheets !-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/style.css">

		<!-- External Scripts !-->
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	</head>

	<body>
		<div class="container">
			<h1 class="text-center">Lindsey's URL Shortening Website</h1>

			<div class="row">
				<h3>
					<form name = "URL_entry" method = "post">
					<label for "URL to Change">Please enter URL to change:</label>
					<input type = "text" name = "url_to_change"> 
					<input type = "submit" value = "Submit">
					</form>
				</h3>
			</div>

			<div class="row">
				<!--
				<button id="resetbutton" class="btn btn-default">Reset</button> -->
			</div>
		</div>
	</body>
</html>
