<!DOCTYPE html>

<html>
	<head>
		<!-- Page Config !-->
		<title>Lindsey's Link Shortener</title>

		<!-- External Style Sheets !-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/style.css">

		<!-- External Scripts !-->
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	</head>

	<body>
		<div class="container">
			<h1 class="text-center">Magic!</h1>

			<div class="row">
				<h3 class = "text-center">
					<a href="{{long_url}}">Go to your URL</a>Your Short URL is: {{short_url}}
				</h3>
					<div class="row"></div>
					<h4 class = "text-center">In the future, to got to your URL, navigate to /redirect/{{short_url}}</h4>

			</div>

		</div>
	</body>
</html>
